{#
/**
 * @file
 * Theme override to display an emergency_alert.
 *
 * Available variables:
 * - title
 * - message
 * - alert_level ('announcement', 'warning', 'danger')
 *
 */
#}
{%
  set classes = [
    'emergency-alert',
    alert_level,
    (alert_level == 'announcement')? 'closeable'
  ]
%}
<div{{ attributes.addClass(classes) }} {% if 'closeable' in classes %}data-closable{% endif %}>
  {% if 'closeable' in classes %}
  	<button class="close-button" aria-label="Close alert" type="button" data-close>
    	<span aria-hidden="true">&times;</span>
  	</button>
  {% endif %}
  <span class="title">{{ title }}</span>
  {{ message }}
</div>